In [2]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [23]:
data = pd.read_csv("Результаты вступительных  - Table 1.csv", header=0)
data

     N пп           Дело Результаты
0       7  2024-01-02276  не явился
1      20  2024-01-00522  не явился
2      29  2024-01-01588  не явился
3      38  2024-01-02794  не явился
4      43  2024-01-01170  не явился
..    ...            ...        ...
348   301  2024-01-02476         45
349   324  2024-01-02697         45
350   340  2024-01-00971         45
351   307  2024-01-00203         12
352   100  2024-01-00802        NaN

[353 rows x 3 columns]

In [44]:
res_col = data['Результаты'].sort_values()
res_col

128          100
130          100
131          100
129          100
351           12
         ...
19     не явился
18     не явился
24     не явился
0      не явился
352          NaN
Name: Результаты, Length: 353, dtype: object

In [52]:
tmp = res_col.value_counts()
tmp

Результаты
не явилась    95
не явился     33
70            16
60            13
95            13
65            10
45             8
62             7
76             7
50             7
90             6
64             6
86             6
88             6
75             5
85             5
83             5
89             5
81             5
80             5
77             5
47             5
63             5
92             4
98             4
87             4
82             4
100            4
55             4
56             4
48             3
99             3
97             3
68             3
94             3
84             3
73             2
58             2
52             2
57             2
61             2
66             2
67             2
79             2
69             2
59             1
12             1
54             1
53             1
93             1
96             1
78             1
51             1
71             1
72             1
Name: count, dtype: int64

In [92]:
m = tmp.sort_index()
m

Результаты
100            4
12             1
45             8
47             5
48             3
50             7
51             1
52             2
53             1
54             1
55             4
56             4
57             2
58             2
59             1
60            13
61             2
62             7
63             5
64             6
65            10
66             2
67             2
68             3
69             2
70            16
71             1
72             1
73             2
75             5
76             7
77             5
78             1
79             2
80             5
81             5
82             4
83             5
84             3
85             5
86             6
87             4
88             6
89             5
90             6
92             4
93             1
94             3
95            13
96             1
97             3
98             4
99             3
не явилась    95
не явился     33
Name: count, dtype: int64

In [96]:
m.to_csv("new.xlsx")